%h3 About the App

.large-6
  %p Created by Mihai on March 9.  Hoping it will grow and be a collaboration with other SF teachers!  Maybe DBC teachers.

  %p This started out as a Google sheet, whose primary purpose was simply for me to see a list of what I did today and to feel productive, good about myself.

  %p I soon turned it into a Rails app because friends don't let friends use spreadsheets when a better alternative is available.  And because I wanted the practice in building Rails apps — within hours it came in handy for me to try out things in response to Phase 3 questions.
  
  %p A more DBC-level purpose would be to gain more insight into student needs by noticing patterns in question asking, length of interaction, which topics cause the most confusion and so on.
  
  %p I'm recognizing that we already have similar solutions in Athena, BackOffice and Socrates may it rest in peace.  What I'm doing is a bit more specific though (for now at least), and honestly I just like having easy access to build things.