%h3 Welcome to DBC Teacher!

%p
  - if current_user
    Hello...
  - else
    Click the "Sign in" link above, and let the awesomeness begin.

%p
  %h4 Recent learnings
  = render 'interactions/learnings_only', interactions: @interactions
