%h1 Phase Days

/ %p= render @phase_1_days
/ %p= render @phase_2_days
/ %p= render @phase_3_days



%table
  %thead
    %tr
      %th Week 1
      %th Week 2
      %th Week 3

  %tbody
    %tr
      - @phase_1_days.in_groups_of(5).each do |five_days|
        %td= render five_days
    %tr
      - @phase_2_days.in_groups_of(5).each do |five_days|
        %td= render five_days
    %tr
      - @phase_3_days.in_groups_of(5).each do |five_days|
        %td= render five_days

