%h1 Phase Days

%p
  Click to make a
  =link_to 'Phase Lead Request', new_phase_lead_request_path

%table
  %thead
    %tr
      %th Week 1
      %th Week 2
      %th Week 3

  %tbody
    %tr
      - @phase_1_days.in_groups_of(5).each do |five_days|
        %td= render five_days
    %tr
      - @phase_2_days.in_groups_of(5).each do |five_days|
        %td= render five_days
    %tr
      - @phase_3_days.in_groups_of(5).each do |five_days|
        %td= render five_days

