.large-4.medium-4.small-4.columns
  %h4 Phase 1 Days
  - @phase_1_days.in_groups_of(5).each do |week|
    %p= render week
.large-4.medium-4.small-4.columns
  %h4 Phase 2 Days
  - @phase_2_days.in_groups_of(5).each do |week|
    %p= render week
.large-4.medium-4.small-4.columns
  %h4 Phase 3 Days
  - @phase_3_days.in_groups_of(5).each do |week|
    %p= render week
