.large-1.medium-2.columns= phase_lead_request.day.strftime('%b-%d')
.large-1.medium-2.columns= phase_lead_request.teacher.short
.large-4.medium-8.columns= phase_lead_request.phase_day.title
.line-break