%h1 Phase Lead Requests
= render 'phase_days/monday_buttons', curr_mon: @mon

%table
  %tbody
    = render 'tbody', requests: @requests, curr_mon: @mon

%hr
= button_to 'See Phase Days', phase_days_path, method: :get
